{% extends "base.html" %}


{% block content %}
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <div class="p-4">
                    <form method="post" class="was-validated">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="mb-3"> 
                                {% for radio in form.licence_type %}
                                    <div class="form-check mb-3">
                                        {{ radio.tag }}
                                        <label class="form-check-label" for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="invalid-feedback">Select licence type</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                {{ form.licence_code }}
                                <div class="invalid-feedback">Select a valid licence code</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <button class="btn btn-primary" type="submit">Confirm</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </div>
            <div class="col">
                <div class="p-3">Custom column padding</div>
            </div>
        </div>
    </div>
{% endblock %}
