{% extends "base.html" %}


{% block content %}
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="p-4">
                  <h3>Create your account!</h3>
                    <h5>Enter your Credentials to access your account.</h5>
                    <form method="post" class="was-validated">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <label for="id_first_name" class="form-label">First Name</label>
                                {{ form.first_name }}
                                <div class="invalid-feedback">
                                    Please enter your first name.
                                </div>
                            </div> 
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <label for="id_last_name" class="form-label">Last Name</label>
                                {{ form.last_name }}
                                <div class="invalid-feedback">
                                    Please enter your last name.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <label for="id_username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                    {{ form.username }}
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <label for="id_password" class="col-form-label">Password</label>
                                {{ form.password }}
                                <span id="passwordHelpInline" class="form-text">
                                      Must be 8-20 characters long.
                                </span>
                            </div> 
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <label for="id_confirm_password" class="col-form-label">Confirm Password</label>
                                {{ form.confirm_password }}
                                <span id="passwordHelpInline" class="form-text">
                                      Must be the same as the password above.
                                </span>
                            </div> 
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                {% for radio in form.licence_type %}
                                    <div class="form-check mb-3">
                                        {{ radio.tag }}
                                        <label class="form-check-label" for="{{ radio.id_for_label }}">
                                            {{ radio.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="invalid-feedback">Select licence type</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                {{ form.licence_code }}
                                <div class="invalid-feedback">Select a valid licence code</div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3"> 
                                <button class="btn btn-primary" type="submit">Sign up!</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </div>
            <div class="col">
                <div class="p-3">Custom column padding</div>
            </div>
        </div>
    </div>
{% endblock %}
