{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="d-flex align-items-center" style="height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col align-items-center">
        <div class="p-3">
            <h3>Welcome back!</h3>
            <h5>Enter your Credentials to access your account.</h5>
                <form method="post" class="was-validated">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="mb-3"> 
                            <label for="id_username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                {{ form.username }}
                            </div>
                        </div> 
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3"> 
                            <label for="id_password" class="col-form-label">Password</label>
                            {{ form.password }}
                            <div class="invalid-feedback">{{ form.error }}</div>
                        </div> 
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3"> 
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                </form>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <img src="{% static 'images/K53-banner.jpeg' %}" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="K53 Banner">
      </div>
    </div>
  </div>
</div>
{% endblock %}
